<%= form_with url: stocks_search_path, method: :get do |form| %>
    <%= form.label :query, "Search for:" %>
    <%= form.text_field :query %>
    <%= form.submit "search" %>
<% end %>

<% if @stock.present? %>
    <h1> Results </h1>
    
<% end %>
